@charset "UTF-8" ;

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

body {
    min-height: 98vh;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    color: white;
    min-height:200px;
}

.principal {
    text-align: center;
    font-size: 50px;
}

h2 {
    text-align: center;
    padding: 15px;
}

table {
    border-collapse: collapse;
    width: 700px;
    margin: auto;
}

caption {
    font-size: 1.3em;
    padding: 10px;
    
}

td,th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.links {
    padding-top: 50px;
    margin: 5px;
    text-align: center;
    
}

#colu {
    padding: 3px;

}

.frase {
    padding-top: 50px;
    text-decoration: underline;
}
a {
    text-decoration: none;
    background-color: aqua;
    color: black;
    border: 1px solid black;
}

iframe#tela {
    width: 93vw;
    height: 400px;
    border: 3px solid black;
    box-shadow: 1px 5px 50px red;
    padding: 10px;
    margin: 15px;
}
main {
    padding-top: 25px;
}

.text1 {
    display: inline-block;
    font-size: 2;
    line-height: 100px;
}

section {
    padding-top: 15px;
    padding-bottom: 20px;
    line-height: 50px;
    padding-left: 30px;
}

section > p {
    padding-bottom: 30px;
    font-size: 2em;
    border-radius: 5px;
    
}
section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
    padding: 5px;
    text-shadow: 1px 5px 50px 0px black;
}

section.normal {
    background-color: white;
    color: black;    
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: rgb(0, 0, 0);
    box-shadow: inset 8px 8px 25px black;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px;
}

section#img1 {
    background-image: url('imagens/wallpeper03.png');
}

section#img2 {
    background-image: url('imagens/wallpeper01.jpg');
}

footer {
    background-color: black;
    color: white;
    height: 20px;
    padding: 5px;
    text-align: center;